# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
*.log
*.cache

# Data & Models
data/
!data/.gitkeep
weights/*.pt
weights/*.joblib
external/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
archive/
